@font-face {
	font-family: "Lobster";
	src: url("../fonts/Lobster-Regular.ttf");
}
@font-face {
	font-family: "Exo2";
	src: url("../fonts/Exo2-Regular.ttf");
}
@font-face {
	font-family: "Jura";
	src: url("../fonts/Jura-DemiBold.otf");
}
@font-face {
	font-family: "Rockwell";
	src: url("../fonts/rockwell-italic.ttf");
}